---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2"><h1>
    <a href="https://aichatfree.info" class="gpt-title">AI Chat</a>
    <a href="https://aichatfree.info" class="gpt-subtitle">Free</a>
    </h1>

  </div>
  <h2>
  <p mt-1 op-60>
    Everything is free, write, improve, paraphrase, summarize, translate, explain, or reply to any text with one click.
    <a href="https://aichatfree.info" class="font-bold">no fees are required.</a>
  </p></h2>
</header>
