---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
    <div class="max-w-[55vw] mx-auto flex flex-col items-left justify-left mb-[1em]">
  <div class="fb items-center">
  <!-- <div class="max-w-[80vw] mx-auto flex flex-col items-center justify-center mb-[1em]"> -->
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2 ">
  <!-- <div class="max-w-[80vw] mx-auto flex flex-col items-center justify-center mb-[1em]"> -->
    <a href="https://aichatfree.info" class="gpt-title">AI Chat</a>
    <a href="https://aichatfree.info" class="gpt-subtitle">Free</a>
  </div>
  <p mt-1 op-60>
    Everything is free
    <a href="https://aichatfree.info" class="font-bold">no fees are required.</a>
  </p>
</div>
</header>
